body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:110%;
  background-color: #FCF7F8;
 display:flex;
 flex-direction: column;
}
main{
  display:flex;
  flex-direction: row;
  overflow: unset;

}


#sidebar{
  width:20%;
  background-color: teal;
  padding:1rem;
  color:black;

  
}
.navList{
  list-style-type:none;
  padding:0%;
}

#profilePhoto{
  width: 15%;
  height:15%;
  border-radius: 50%;
  border: 5px solid teal;
}
#header {
  background-color: #bc992d;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

  
}
.icons{
  width:3rem;
  margin:2rem;
  height: auto;
}

footer {
  background-color: #bc992d;
   text-align: center;
  
}
