body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:110%;
  background-color: #FCF7F8;
  font-color:black;
}
main{
border:3px solid black;
margin-top: 1rem;
margin-bottom: 1rem;
}


#sidebar{
  width:20%;
  background-color: teal;
  padding:1rem;
  color:black;
  border: 3px solid black;
  margin-top: 1rem;
  
}
.navList{
  list-style-type:none;
  padding:0%;
}

#profilePhoto{
  width: 15%;
  height:15%;
  border-radius: 50%;
  border: 5px solid black
}
#header {
  background-color: #bc992d;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border:3px solid black;
  
}
.icons{
  width:3rem;
  margin:2rem;
  height: auto;
}

footer {
  background-color: #bc992d;
   text-align: center;
   border: 3px solid black;
}
